.box{
    width: 600px;
    height: 600px;
    position: relative;
    background-color: lightcoral;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
@keyframes example{
    0%{background-color: rgb(114, 161, 231); left: 0px; top: 0px; }
    25%{background-color: pink; left: 200px; top:0px; }
    50%{background-color: rgb(221, 164, 8); left: 200px; top:0px; }
    75%{background-color: rgb(197, 21, 182); left: 200px; top:0px; }
    100%{background-color: rgb(236, 12, 49); left: 200px; top:0px; }
}
 